{% extends 'registration/base/baselogin.html' %}
{% load static %}

{% block content %}
{% if validlink %}

<form method="post">
{% csrf_token %}
<label for="id_new_password1">Nueva contraseña:</label>
<br>
{{ form.new_password1.errors }}
{{ form.new_password1 }}
<br>
<br>
<label for="id_new_password2">Confirme contraseña:</label>
<br>
{{ form.new_password2.errors }}
{{ form.new_password2 }}
<br>
<br>
<input class="bg-danger" type="submit" value="Cambiar mi contraseña">
</form>
{% else %}

<h1 class="bg-danger">ERROR: ESTE ENLACE YA HA SIDO UTILIZADO :(</h1>

{% endif %}
{% endblock %}